<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <html lang="en-US">
    <link rel="stylesheet" href="styles.css">
    <title>Amane a best</title>
  </head>
  <body>
    <ul id="messages"></ul>
    <p id="userCnt"> Connected users </p>
    <div class = "flex-container">
        <div>
          <iframe title="YouTube video player" id ="ytvid" class="youtube-player" type="text/html" width="720" height="480"
           src="https://www.youtube.com/embed/M68OwnWhEqY?autoplay=1&loop=1"
          frameborder="0" allow="autoplay"allowFullScreen></iframe>
          <br><input id = "vidDisplay" type = "button" value="Hide >///<" onclick="videoDisplay()"/>
          <form action="">
            <tr>
              <td>YouTube Link: </td>
              <td><input id="v" autocomplete="off" /><button>Video</button></td>
            </tr>
          </form>
        </div>
        <div>
          <table id="myTableData"  border="1" cellpadding="2">
            <tr>
                <td>&nbsp;</td>
                <td><b>User</b></td>
                <td><b>Song</b></td>
                <td><b>Link</b></td>
                <td><b>Int</b></td>
                <td><b>Play </b></td>
                <td><b>Delete Song</b></td>
            </tr>
            <% for(var i = 0; i < songs.length; i++) {%>
                <tr>
                    <td><%=songs[i].row_num%></td>
                    <td><%=songs[i].user %></td>
                    <td><%=songs[i].song_name%></td>
                    <td><%=songs[i].link%> </td>
                    <td>1</td>
                    <td><input type="button" value = "Play" onClick="Javacsript:playRow(this)"></td>
                    <td><input type="button" value = "Delete" onClick="Javacsript:deleteRow(this)"></td>
                </tr>
            <% } %>
          </table>
        </div>
    </div>

    <!-- <form action="">
      <tr>
        <td>YouTube Link: </td>
        <td><input id="v" autocomplete="off" /><button>Video</button></td>
      </tr>
    </form> -->

    <script src = "/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- the magic is HERE -->
    <script>
      var rowNum = 1;
      var socket = io();
      $(function () {
        // var socket = io();
        $('form').submit(function(e){
          e.preventDefault(); // prevents page reloading

          if($('#v').val() !== ''){   //If valid input
            //socket.emit('video link', $('#v').val());   //Sends object to server
            //String parser here -- should use YT API later
            var n = $('#v').val().indexOf("=");
            var length = $('#v').val().length;
            if(n !== -1){   //Checking for specific ID
              //socket.emit('video link', $('#v').val().substring(n+1, length));
              var messageDetail = [rowNum,"user_", "song_name", $('#v').val().substring(n+1, length)];
              socket.emit('db vid link', messageDetail);
              rowNum++;
            }else{
              alert("Invalid youtube link");
            }

            console.log("Length: " + length);
            console.log("New string: " + $('#v').val().substring(n+1, length));
            console.log("Index: " + n);
          }else{
            alert("Empty video!")
          }
          // socket.emit('chat message', $('#m').val());
          $('#v').val('');  //Resets the textfield
          return false;
        }); //form function

        // $('form').submit(function(e){
        //   e.preventDefault(); // prevents page reloading
        //   socket.emit('chat message', $('#m').val());
        //   $('#m').val('');  //Resets the textfield
        //   return false;
        // });

        //ADD CLIENT SOCKETS HERE

        socket.on('video link', (video) => {
          console.log(video[2]); //Just pass the object to view it
          //document.getElementById("ytvid").src = "https://www.youtube.com/embed/" + video + "?autoplay=1&loop=1";   //Rep. vid with input
          var link = "https://www.youtube.com/embed/" + video[3];
          var table = document.getElementById("myTableData");   //Append to table

          if(link.length > 60){
            alert("Foh nga");
            return; //use this in real code -- leave along for testing purposes
          }

          var user = 'Update later';
          var song = "Update later";
          var integrity = 0;
          //Buttons
          var playAll = '<input type="button" value = "Play" onClick="Javacsript:playRow(this)">';  //Change to button
          var deleteButton = '<input type="button" value = "Delete" onClick="Javacsript:deleteRow(this)">';

          //Insert data into row into table
          var rowCount = table.rows.length;
          var row = table.insertRow(rowCount);
          let tableHeader2 = [rowNum,user, song, link,integrity, playAll, deleteButton]

          for(var i = 0; i < tableHeader2.length; i++){
              row.insertCell(i).innerHTML = tableHeader2[i];
          }

          document.getElementById("v").value = "";  //Reset textfield value
          document.getElementById("v").focus();

        });

        //Need to do something to delete row -- need to know how to pass around correct index/object to delete
        socket.on('delete row', function(row){
          // var index = row.parentNode.parentNode.rowIndex;   //Pass index for deletion
          var table = document.getElementById("myTableData");
          table.deleteRow(row);
          console.log("Deleting row: " + row);
        });

        socket.on('play row', function(row){
          var table = document.getElementById("myTableData");
          var x = document.getElementById("myTableData").rows[row].cells;
          var newLink = x[3].innerHTML;     //Invisible space added at end for some reason
          console.log("start"+newLink+"end")

          console.log("Length: " + newLink.length)
          if(newLink != ""){
            //Bad fix -- links from db have extra char but newly added songs dont
            if(x[4].innerHTML == 0){
                var inputVideo = newLink + "?autoplay=1";
                console.log("0 detected")
            }else{
              var inputVideo = newLink.substring(0,newLink.length-1) + "?autoplay=1";
              console.log("1 not detected");
            }

            console.log("InputVid: " + inputVideo);
            document.getElementById("ytvid").src = inputVideo;    //Replace video
            console.log("Successfully inputted!");
          }else{
            console.log("Link is empty");
          }
        });

        socket.on('hide video', function(){
          var x = document.getElementById("ytvid");
          if (x.style.display === "none") {
            x.style.display = "block";
            document.getElementById("vidDisplay").value = "Hide >///<";
          } else {
            x.style.display = "none";
            document.getElementById("vidDisplay").value = "Show oWo";
          }
        });

        socket.on('count users', function(numUsers){
          console.log('User connected' + numUsers);
          document.getElementById("userCnt").innerHTML = "Connected Users: " + numUsers;
          //alert(numUsers);
        });
      }); //end of $function

      //Try to modularize the files by adding main.js but currently page refreshes upon finding main.js
      function deleteRow(obj) {
          //Test how sockets work
          var index = obj.parentNode.parentNode.rowIndex;
          socket.emit('delete row', index);
          //socket.emit('delete row', $('#v').val()); //I am able to do this <---
      }

      function playRow(obj){
        var index = obj.parentNode.parentNode.rowIndex;
        socket.emit('play row', index);
      }

      function videoDisplay(){
        socket.emit('hide video');
      }

      //TO DOOOOOOO
      //Need to add enhanced search function -- may need to use YTAPI
      //Need to add seeking as well as play/pause on video --
      //not easy.. need to make own video player
      //Can probably change how video submission works
      //-- call function that emits to socket and pass the link
      //Need to add chat functionality?
      //Need to add login?
      //Site: https://noob-chat-test.herokuapp.com/
      //Will rename later

      //REFER  to other ytproject for mongodb connection (problem was ip listing...fokme)
      //good work! 30% progress now??
    </script>


  </body>
</html>
