#picture{
  width: 400px;
  height: 300px;
  margin-bottom:5px;
}

#playButton{
  width: 80px;
  height: 40px;
}

#pauseButton{
  width: 80px;
  height: 40px;
}
#vidDisplay{
  width: 75px;
  height: 27px;
}

#buttonset{
  display:block;
}

#picDiv{
  /*float:right;*/
}

.flex-container{
  display: flex;
}

#ytvid{
  /* Centers*/
  /*display: block;
  margin: 0 auto;
  */
  float: "left";
  width: 720px;
  height: 480px;
  margin-bottom:5px;
}

#tableDiv{
  overflow:hidden;
  overflow-y: scroll;
  height: 850px;
}

table thead tr th {
  text-align: left;
  position: sticky;
  top: 0px;
  background-color: #eeeeee;
  /* color: #fff; */
}
#myTableData{
  float: "left";
}

#videoForm{
  margin-buttom: 10px;
}
#assortedButtons{
  margin-bottom: 5px;
}
#anime{
  margin-bottom: 15px;
}
#nVid{
  margin-bottom:5px;
}
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* #myTableData:hover{
  background: #eeeeef !important;
} */
/* #myTableData:hover{
  background: #eeeeef;
} */

/* #song_col:hover{
  background: #eeeeef !important;
} */

#song_col{
  width:250px;
  opacity: 1;
}
/* #tableDiv:hover > .overlay {
    width:100%;
    height:100%;
    position:absolute;
    background-color:#000;
    opacity:0.5;
    border-radius:30px;
} */
body {
  /* background-image: url('https://hdwallpapers.cat/wallpaper/amane-suou-grisaia-no-kajitsu-anime-girl-9s2r.jpg'); */
  background-image: url('https://hdwallpapers.cat/wallpaper/amane-suou-grisaia-no-kajitsu-anime-girl-9s2r.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
